body{
    background-color: grey;
    background: url("../assets/portfolio/images/general/pbodybg.webp") fixed center;
    background-repeat: no-repeat;
    background-size: cover;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

a:hover {
    text-decoration: none;
    color: white;
}

.bg-container {
    position: relative;
    background-color: rgba(7, 1, 1, 0.747);
}

.footer {
    position: relative;
    background-color: rgba(7, 1, 1, 0.747);
}

.project-card {
    border: rgba(218, 165, 32, 0.822) solid 1px ;
    background: transparent;
}

.project-image{
    width: 30%;
}

.hovering {
    transition: transform .1s;
    border: rgba(150, 114, 24, 0.822) solid 1px;
}

.hovering:hover {
    border: rgb(255, 183, 0) solid 1px;
    transform: scale(1.05);
}

.footer-item{
    border-bottom: rgb(255, 183, 0) solid 1px;
    padding-bottom: 0.4rem;
    padding-right: 0.4rem;
    padding-left: 0.4rem;

    margin-left: 1rem;
    margin-right: 1rem;
}

.footer-item:hover{
    border-bottom: rgb(255, 255, 255) solid 1px;
    transform: scale(1.05);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(180, 129, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 183, 0);
}
