body{
    background-color: grey;
    background: url("../assets/general-images/pbodybg.webp") fixed center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-container {
    background-color: rgba(7, 1, 1, 0.747);
}

.footer {
    background-color: rgba(7, 1, 1, 0.747);
}

.project-card {
    border: rgba(218, 165, 32, 0.822) solid 1px ;
    background: transparent;
}

.project-image{
    width: 30%;
}

.hovering {
    transition: transform .1s;
    border: rgba(150, 114, 24, 0.822) solid 1px;
}

.hovering:hover {
    border: rgb(255, 183, 0) solid 1px;
    transform: scale(1.05);
}