/* GENERAL TAGS*/
body{
    background-color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/* IDS */
#background-video {
    object-fit: cover;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}


/* CLASSES */
.bg-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
}

.vs-button {
    color:white;
    background: rgba(218, 165, 32, 0.1) ;
    border: rgba(218, 165, 32, 0.8) solid 1px ;
}

.vs-button:hover {
    color:white;
    background: rgba(218, 165, 32, 0.5) ;
    border: rgb(255, 183, 0) solid 1px;
}

.footer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
}

.project-card {
    border: rgba(218, 165, 32, 0.8) solid 1px ;
    background: transparent;
}

.project-image {
    min-width: 200px;
    max-width: 31%;
}

.hovering {
    transition: transform .1s;
    border: rgba(150, 114, 24, 0.8) solid 1px;
}

.hovering:hover {
    border: rgb(255, 183, 0) solid 1px;
    transform: scale(1.05);
}

.footer-item{
    border-bottom: rgb(255, 183, 0) solid 1px;
}

.footer-item:hover{
    border-bottom: rgb(255, 255, 255) solid 1px;
}


/* SCROLL BAR*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 183, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 183, 0);
}


/* @s*/
@media (max-width: 1000px) {
    .footer-item-center {
      display: none !important;
    }

    .footer-item-center-hidden {
      display: block !important;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

